body{
    margin: 0;
}
/* Index page styles */
.carousel-item img{
    max-height: 650px;
    object-fit: cover;
}

.shop-card {
  border: none;
  box-shadow: none;
  width: 200px;
}

.hover-ring{
    transition: box-shadow 0.3s ease, border 0.3s ease;
}

.hover-ring:hover{
    box-shadow: 0 0 0 4px #8B4513;
    border-radius: 50%;
}

.btn{
    background-color: #663422;
    border: #663422;
    font-weight: bold;
}

.btn:hover{
    border: solid 2px #522c1f;
    background-color: #8B4513;
    color: #522c1f !important;
}

h2{
    font-family: cursive;
}

hr {
    border: solid 1px #522c1f;
    background-color: #522c1f;
}



/* Login page styles */
#log-in{
    background-color: #F0E1DA;
    font-family: cursive;
}

.bg-chestnut{
    background-color: #964B00;
    color: #fff;
}

.bg-chocolate{
    color: #522c1f !important;
}

.navbar-nav{
    margin-right: 5rem;
}

.nav-item:hover{
    color: #fff;
    font-weight: bolder;
}

/* Sales page */
#side-menu{
    width: 280px;
    height: 100vh;
}

#inventoryMenu a, #customerMenu a {
  text-decoration: none;
  color: #fff; 
}

#inventoryMenu a:hover, #customerMenu a:hover {
  text-decoration: underline; 
}

.sales-search{
    max-width: 300px;
}

.sales-stats p{
    font-size: 12px;
    
}

.nav-link.active {
  font-weight: bolder; 
  text-decoration: underline; 
}

.bg-limegreen{
    background-color: limegreen;
}

.bg-lightblue{
    background-color: lightblue;
}

.bg-lightpink{
    background-color: lightpink;
}

.bg-lightyellow{
    background-color: lightgoldenrodyellow;
}

/*Contact Us*/
.contact-us{
    font-family: cursive;
    padding: 20px;
}

.bg-brown{
    background-color: #F0E1DA;
    color: #522c1f
}

/* Product page */
.product-cards{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.order-history-cards{
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



